# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# IDE
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# ngrok
ngrok.yaml